body {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6   )),url(istockphoto-614242860-1024x1024-transformed.jpeg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.timer_inputs {
    margin-left: 20px;
    color: bisque;
}

.timer_inputs input {
    padding: 8px; 
    border: 1px solid bisque;
    border-radius: 5px;
    background-color: #333;
    color: bisque;
    font-size: 14px;
    outline: none; 
}

.timer_inputs input:focus {
    border-color: #ffcc00; 
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); 
}
h1 {
    max-width: 100%;
    min-width: 10px;
    height: auto;
    padding-left: 20%; 
    color: bisque;
    font-size: 2em; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em; 
    }
}
button {
    padding: 8px; 
    border: 1px solid bisque;
    border-radius: 5px;
    background-color: #333; 
    color: bisque;
    font-size: 14px; 
    cursor: pointer; 
    margin-top: 20px;
}
button a{
    color:bisque;
    text-decoration: none;
}
button:hover {
    background-color: #555; 
}

button:active {
    background-color: #777;
}

